@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap'); 
 .app {
  font-family: 'DM Sans', sans-serif;
  color: #45474b;
  max-width: 1000px;
  margin: auto;
  margin-top: 85px;
}
